.banner-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.6s ease-in-out;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Slider Buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.slider-btn.left {
  left: 20px;
}

.slider-btn.right {
  right: 20px;
}

.slider-btn:hover {
  background: rgba(0,0,0,0.7);
}
